@tailwind base;
@tailwind components;
@tailwind utilities;

.login_panel {
    height: calc(100vh - 72px);
}

.background {
    background: linear-gradient(to top, transparent, #141414),
        url('./assets/background_image.jpg');
}

.not_connected {
    height: calc(100vh - 72px);
}

#get_started_button > img, span {
    vertical-align: middle;
}

span {
    margin-top: 3px;
}

.child {
    overflow-y: hidden;
}

.slides-container {
    margin-left: 50%;
}

.cover_picture {
    margin-top: 8%;
}

.cover_movie {
    margin-left: -7%;
}


.landing_page {
    background: linear-gradient(to top, transparent, #141414),
        url('./assets/background_404page.jpg');
    background-size: cover;
}

:root {
    --toastify-icon-color-error: '#c0c0c0';
}